.selected {
  font-weight: bold;
  color: var(--primary-light-font);
}

.selectable {
  color: var(--primary-light-font);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 100vh;
  width: clamp(200px, 15%, 350px);
  background-color: var(--aside-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  /* border: solid 1px red; */
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
  height: 100%;
  /* border: solid 1px green; */
}

.logo {
  font-family: 'Gloock';
  font-size: 2.5rem;
  color: var(--primary-light-font);
  text-shadow: 0 0 1px rgb(208, 205, 190);
  /* border: solid 1px green; */
}

.group {
  height: 60%;
  /* border: solid 1px blue; */
}

.profilePic {
  margin-top: 40%;
  height: 4rem;
  width: 4rem;
}

.logout {
  margin-top: auto;
  justify-self: flex-end;
  /* border: solid 1px black; */
}
