.selected,
.selectable,
.logout {
  color: var(--primary-light-font);
  font-size: 1.25rem;
  font-family: var(--san-font) !important;
  text-decoration: none;
  line-height: 2.25rem;
  display: flex;
  gap: 10px;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}
.selectable:hover {
  transform: scale(1.05);
  opacity: 1;
}

.selected {
  color: rgb(100, 78, 13);
  cursor: not-allowed;
  opacity: 1;
}

.wrapper {
  height: 100vh;
  /* COPY THIS FIELD TO GOAL WRAPPER ON PROFILE */
  width: clamp(220px, 15%, 400px);
  background-color: var(--aside-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  /* border: solid 1px red; */
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
  height: 100%;

  /* border: solid 1px green; */
}

.logo {
  font-family: 'Gloock' !important;
  font-size: 2.5rem;
  color: var(--primary-light-font);
  font-weight: 700;
  opacity: 1;
  /* border: solid 1px green; */
}

.group {
  height: 60%;
  /* border: solid 1px blue; */
}

.profilePic {
  margin-top: 40%;
  height: 4rem;
  width: 4rem;
}

.logout {
  margin-top: auto;
  justify-self: flex-end;
  color: var(--primary-light-font);
  /* border: solid 1px black; */
}
