@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Space+Mono:wght@700&display=swap');

:root {
  --primary-color: 200;
  --secondary-color: 50;
  --primary-light: hsla(var(--primary-color), 50%, 50%, 0.2);
  --primary-dark: hsl(var(--primary-color), 70%, 30%);
  --main-background: hsl(var(--primary-color), 70%, 50%);
  --aside-background: hsl(var(--secondary-color), 70%, 50%);
  --primary-light-font: hsl(0, 5%, 90%);
  --serif-font: 'Gloock', serif;
  --mono-font: 'Space Mono', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: var(--serif-font);
}

*:focus {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--aside-background);
  /* background-color: whitesmoke; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
