.full {
  width: 100%;
  height: 100%;
  opacity: 0.25;
  height: 0.75rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.progress {
  position: absolute;
  min-width: 1rem;
  height: 100%;
  border-radius: 1rem;
  top: 0;
}

.red {
  background-color: hsl(0, 90%, 32%);
}

.green {
  background-color: hsl(100, 90%, 32%);
}

.yellow {
  background-color: hsl(54, 86%, 44%);
}

.wrapper {
  position: relative;
}
