.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  /* border: solid 1px red; */
}

.heading {
  color: rgb(21, 21, 20);
  font-family: 'Gloock';
  align-self: start;
  font-size: 1rem;
}
